[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib
